<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %> 

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include("./partials/header") %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->

    <%- include("./partials/carrito") %>
    <!-- ##### Right Side Cart End ##### -->
    
    <div class = "container col-12">


        <div class = "avataradmin row col-4 col-sm-6 col-md-4 col-xl-3">
            <img class = "imguser" src = "/essence/img/users-img/<%= data.avatar %>">  
    
        </div>
    
        <div class="infouser row contact-area d-flex align-items-center col-10">
    
        
            <div class="row  col-12 col-sm-6 col-md-4 col-xl-5">
                <h2>Hola <%= data.nombre %> !</h2>
    
                <div class=" mt-5 col-12">
                    <% if (data.rol == 1) { %>
                    <p class = "datosadmin"><strong>Administrador/a: </strong>  <%= data.nombre %></p>
                    <% } else{ %>
                        <p class = "datosadmin"><strong>Usuario/a: </strong>  <%= data.nombre %></p>
                        <% } %>
                    
                    <p class = "datosadmin"><strong>Email: </strong><%= data.email %> </p>
                    <p class = "datosadmin"><strong>Dirección: </strong><%= data.direccion %> </p>
                    <p class = "datosadmin"><strong>Provincia: </strong><%= data.provincia %> </p>
                    <p class = "datosadmin"><strong>Localidad: </strong><%= data.localidad %> </p>
                    <p class = "datosadmin"><strong>Código Postal: </strong><%= data.cp %> </p>
                </div>
            </div>
        <div class = "actionuser row col-12 col-sm-6 col-md-4 col-xl-4 my-5">
        

         <% if (data.rol == 0) { %>

         <a  href="/products" class="botonuser create btn essence-btn mx-1 my-2 col-8">Ver productos </a> <br>
         <a  href="/users/cart" class="botonuser create btn essence-btn mx-1 my-2 col-8">Ver mi carrito </a> <br>
         <a  href="/users/update/<%= data.idusuario %>" class="botonuser create btn essence-btn mx-1 my-2 col-8">Actualizar datos </a> <br>

         <% } else if(data.rol == 1){ %>

            <a  href="/admin/edit" class="create btn essence-btn mx-1 my-2 col-8">Editar producto </a> <br>
            <a  href="/admin/create" class="create btn essence-btn mx-1 my-2 col-8">Agregar producto </a> <br>

            <% } %>
         <a  href="/users/logout" class="create btn essence-btn mx-1 my-2 col-8">Cerrar Sesión </a> <br>
       

        </div>
                
        
          
        </div>




    </div>
    

    

    <!-- ##### Footer Area Start ##### -->
    <%- include("./partials/footer") %>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="js/map-active.js"></script>

</body>

</html>