<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %> 

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include("./partials/header") %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->

    <%- include("./partials/carrito") %>
    <!-- ##### Right Side Cart End ##### -->


    <div class="contact-area d-flex align-items-center">

        <div class="containercarrito col-12 col-sm-6 col-md-4 col-xl-5">
            <img class = "imgcarrito" src= "/essence/img/images/carro.png">
        </div>

        <div class="infocarrito col-12 col-sm-6 col-md-4 col-xl-7">
            <h2>Carrito de compras</h2>

            <div class="envios mt-50">
                <p class = "textcart"><strong>Título:</strong> <%= libro.titulo %></p>
                <p class = "textcart"><strong>Precio:</strong><%= libro.precio %></p>
                
                <a href= "#"><button class = "btn essence-btn my-5">Comprar</button></a>
            </div>

        </div>

    </div>

    <!-- ##### Footer Area Start ##### -->
    <%- include("./partials/footer") %>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="js/map-active.js"></script>

</body>

</html>