<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %> 

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include("./partials/header") %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->
    <%- include("./partials/carrito") %>
    <!-- ##### Right Side Cart End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="titulocarga breadcumb_area bg-img" style="background-image: url(/essence/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Agregá un producto</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
    
    
    <!-- ##### Checkout Area Start ##### -->
    <div class="checkout_area section-padding-80">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="checkout_details_area mt-10 clearfix">

                        <div class="cart-page-heading mb-50">
                            <h5>Info del nuevo producto</h5>
                        </div>
                        <div>
                            <% if (typeof errors != 'undefined') { %>
                                <p class = "error" style="color:red">ALGO PASÓ:</p> 
                        
                                <ul>
                                    <% for (let i = 0; i < errors.length; i++) { %>
                                        <li>
                                            <%=errors[i].msg%>
                                        </li>
                                   <% } %>
                                </ul>
                            <% } %>
                        </div>

                        <div class="errores">
                            <ul></ul>
                        </div>

                        <form class = "createform" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="titulo">Título del libro <span>*</span></label>
                                    <input type="text" class="form-control" id="titulo" name = "titulo" value="" required placeholder="Título del libro">
                                    <ul class = "ultitulo" style="color:red">

                                    </ul>
                                
                                
                                </div>
                              
                                
                                <div class="col-12 mb-3">
                                    <label for="autor">Autor/a <span>*</span></label>
                                    <input type="text" class="form-control" id="autor" name = "autor" value="" required placeholder="Nombre del autor/a">
                                    <ul class = "ulautor" style="color:red">

                                    </ul>    
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="categoria">Categoría <span>*</span></label>
                                    <select class="w-100 categoria" id="categoria" name= "categoria">
                                        
                                        <% for (let i=0; i < categoria.length; i++) { %>
                                            <option value="<%= categoria[i].idcategorias %>"><%= categoria[i].nombre %></option>
                                        <% } %>
                                    </select>

                                    <ul class = "ulcategoria" style="color:red">

                                    </ul>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="precio">Precio <span>*</span></label>
                                    <input type="text" class="form-control" name= "precio" id="precio" value="" placeholder="Precio">
                                    <ul class = "ulprecio" style="color:red">

                                    </ul>
                              
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="stock">Stock <span>*</span></label>
                                    <input type="text" class="form-control mb-3" id="stock" name= "stock" value="" placeholder="Stock">
                                    <ul class = "ulstock" style="color:red">

                                    </ul>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="descripcion">Descripción <span>*</span></label>
                                    <textarea name = "descripcion" id = "descripcion" rows = "5" cols= "72">Escribí acá una breve descripción del libro</textarea>
                                    <ul class = "uldescripcion" style="color:red">

                                    </ul>
                                </div>
                               
                                <div class="col-12 mb-4">
                                    <label for="portada">Subí la foto de portada</label><span>*</span> <br>
                                    <input type="file" name= "portada" id="portada" value="portada">
                                </div>

                                <div class="col-12">
                                    
                                    <button type = "submit" class="btn essence-btn">Agregar producto</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Checkout Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <%- include("./partials/footer") %>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/essence/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/essence/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/essence/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/essence/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="/essence/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="/essence/js/active.js"></script>
    <script src="/essence/javascript/validacionesProducts.js" type = "text/javascript"></script>

</body>

</html>