<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %> 

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include("./partials/header") %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->
    <%- include("./partials/carrito") %>
    <!-- ##### Right Side Cart End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(/essence/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Entrá a tu cuenta</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
    <div class="checkout_area section-padding-80">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="checkout_details_area clearfix">

                    

                        <form action="/users/login" method="POST" enctype= "multipart/form-data">
                            <div class="row">
                                <div class="mb-30">
                                    <h5>Iniciá sesión</h5>
                                </div> 
                                <div> 
                                    <% if (typeof errors != 'undefined') { %>
                                        <P style="color:red">ALGO PASÓ</P> 
            
                                        <ul>
                                            <% for (let i = 0; i < errors.length; i++) { %>
                                                <li>
                                                    <%=errors[i].msg%>
                                                </li>
                                           <% } %>
                                        </ul>
                                    <% } %>
                                </div>
                               
                                
                                <div class="col-12 mb-4">
                                    <label for="email_address">Email<span>*</span></label>
                                    <input type="email" class="form-control" name= "email" id="email" value="" placeholder="Email">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="password">Contraseña<span>*</span></label>
                                    <input type="password" class="form-control" name= "password" id="password" min="0" value="" placeholder="Contraseña"> 
                                    <label for="">Recordame</label>
                                    <input type="checkbox" name="recordame"><br>
                                </div>
                                
                                <div class="col-12">
                                    
                                    <button type = "submit" href="/users/count" class="btn essence-btn">Entrar</button> <br>
                    
                                </div>
                                <div class="col-12 registracion">
                                    <a for="" href= "/users/register">¿TODAVÍA NO TE REGISTRASTE?</a>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>

                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Checkout Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <%- include("./partials/footer") %>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/essence/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/essence/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/essence/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/essence/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="/essence/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="/essence/js/active.js"></script>

</body>

</html>