<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %> 

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include("./partials/header") %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->

    <%- include("./partials/carrito") %>
    <!-- ##### Right Side Cart End ##### -->
    
    <div class = "container col-12">
        <div class = "avataradmin row col-6">
            <img class = "imgadmin" src = "/essence/img/users-img/<%= usuarioLogueado.avatar %>">
    
        </div>
    
        <div class="infoadmin row contact-area d-flex align-items-center">
    
        
            <div class="row contact-info col-6">
                <h2>Hola <%= usuarioLogueado.nombre %> !</h2>
    
                <div class=" mt-5">
                    <p class = "datosadmin"><strong>Administrador: </strong>  <%= usuarioLogueado.nombre %></p>
                    <p class = "datosadmin"><strong>Email: </strong><%= usuarioLogueado.email %> </p>
                </div>
            </div>
               <div class = "editproduct row col-12">
                <h4 class = "hacer col-12">¿Qué querés hacer?</h4>
                <a  href="/admin/edit" class="create btn essence-btn">Editar producto </a> <br>
                <a  href="/admin/create" class="create btn essence-btn">Agregar producto </a> <br>
                <a  href="/users/login" class="create btn essence-btn">Cerrar Sesión </a> <br>

               </div>
                
        
          
        </div>




    </div>
    

    

    <!-- ##### Footer Area Start ##### -->
    <%- include("./partials/footer") %>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="js/map-active.js"></script>

</body>

</html>