<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %> 

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include("./partials/header") %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->
    <%- include("./partials/carrito") %>
    <!-- ##### Right Side Cart End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="tituloregistra breadcumb_area bg-img" style="background-image: url(/essence/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Registrate en Mercado Libro</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
    <div class="checkout_area section-padding-80">
        <div class="container">
            <div class="row">

                <div class="col-6 col-md-6">
                    <div class="checkout_details_area mt-10 clearfix">
                     
                        <div class="cart-page-heading mb-30">
                            <h5>Datos de contacto</h5>
                        </div>

                        <% if (typeof errors != 'undefined') { %>
                            <p class = "error" style="color:red">ALGO SALIÓ MAL:</p>

                            <ul>
                                <% for (let i = 0; i < errors.length; i++) { %>
                                    <li>
                                        <%=errors[i].msg%>
                                    </li>
                               <% } %>
                            </ul>
                        <% } %>

                        <div class="errores">
                            <ul></ul>
                        </div>
            
                        <form class = "registeruser" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="nombre">Nombre y apellido<span>*</span></label>
                                    <input type="text" class="form-control" id="camponombre" name = "nombre" value="" required placeholder="Nombre y apellido">
                                </div>
                              
                                
                                <div class="col-12 mb-3">
                                    <label for="provincia">Provincia <span>*</span></label>
                                    <select class="w-100 provincia" id="provincia" name= "provincia">
                                        <option value="" selected>Seleccioná tu provincia</option>
                                        <option value = "cba">Córdoba</option>
                                        <option value = "ba">Buenos Aires</option>
                                        <option value = "sf" >Santa Fe</option>
                                        <option value = "ju">Jujuy</option>
                                        <option value = "sal">Salta</option>
                                        <option value = "tuc">Tucumán</option>
                                        <option value = "sgo"> Santiago del Estero</option>
                                        <option value = "sj">San Juan</option>
                                        <option value = "corr">Corrientes</option>
                                        <option value = "mis">Misiones</option>
                                        <option value = "lp">La Pampa</option>
                                        <option value = "er">Entre Rios</option>
                                        <option value = "chu">Chubut</option>
                                        <option value = "tf">Tierra del Fuego</option>
                                        <option value = "cha">Chaco</option>
                                        <option value = "mza">Mendoza</option>
                                        <option value = "sl">San Luis</option>
                                        <option value = "lr">La Rioja</option>
                                        <option value = "for">Formosa</option>
                                        <option value = "cat">Catamarca</option>
                                        <option value = "neu">Neuquen</option>
                                        <option value = "rn">Rio Negro</option>
                                    </select>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="localidad">Localidad <span>*</span></label>
                                    <input type="text" class="form-control" name= "localidad" id="localidad" value="" required placeholder="Localidad">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="direccion">Dirección <span>*</span></label>
                                    <input type="text" class="form-control mb-3" id="direccion" name= "direccion" value="" required placeholder="Calle y número">
                                
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="cp">Código Postal <span>*</span></label>
                                    <input type="number" class="form-control" name= "cp" id="cp" value="" required placeholder="Código Postal">
                                </div>
                              
            
                                <div class="col-12 mb-4">
                                    <label for="email">Email <span>*</span></label>
                                    <input type="email" class="form-control" name= "email" id="email" value="" required placeholder="Email">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="password">Contraseña <span>*</span></label>
                                    <input type="password" class="form-control" name= "password" required id="password" min="0" value="" placeholder="Contraseña">
                                </div>
                                <div class="col-12 mb-4">
                                    <label for="avatar">Subí tu foto de perfil</label> <br>
                                    <input type="file" name= "avatar" id="avatar" value="avatar">
                                </div>
                                <div class="col-12">
                                    
                                    <button type = "submit" class="btn essence-btn">Registrarme</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
           
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Checkout Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <%- include("./partials/footer") %>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/essence/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/essence/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/essence/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/essence/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="/essence/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="/essence/js/active.js"></script>
    <script src="/essence/javascript/js-front.js" type = "text/javascript"></script>

</body>

</html>