<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %> 

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include("./partials/header") %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->
    <%- include("./partials/carrito") %>
    <!-- ##### Right Side Cart End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(/essence/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Registrate en Mercado Libro</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
    <div class="checkout_area section-padding-80">
        <div class="container">
            <div class="row">

                <div class="col-6 col-md-6">
                    <div class="checkout_details_area mt-10 clearfix">

                        <div class="cart-page-heading mb-30">
                            <h5>Datos de contacto</h5>
                        </div>

                        <% if (typeof errors != 'undefined') { %>
                            <P style="color:red">ERROR</P>

                            <ul>
                                <% for (let i = 0; i < errors.length; i++) { %>
                                    <li>
                                        <%=errors[i].msg%>
                                    </li>
                               <% } %>
                            </ul>
                        <% } %>


                        <form action= "/users/register" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="first_name">Nombre y apellido<span>*</span></label>
                                    <input type="text" class="form-control" id="nombre" name = "nombre" value="" required placeholder="Nombre y apellido">
                                </div>
                              
                                
                                <div class="col-12 mb-3">
                                    <label for="country">Provincia <span>*</span></label>
                                    <select class="w-100" id="prov" name= "prov">
                                        <option value="cba">Córdoba</option>
                                        <option value="ba">Buenos Aires</option>
                                        <option value="sfe">Santa Fe</option>
                                        <option value="juj">Jujuy</option>
                                        <option value="sal">Salta</option>
                                        <option value="tuc">Tucumán</option>
                                        <option value="sgo">Santiago del Estero</option>
                                        <option value="sju">San Juan</option>
                                        <option value="co">Corrientes</option>
                                        <option value="mis">Misiones</option>
                                        <option value="pam">La Pampa</option>
                                        <option value="eri">Entre Rios</option>
                                        <option value="chu">Chubut</option>
                                        <option value="tie">Tierra del Fuego</option>
                                        <option value="cha">Chaco</option>
                                        <option value="mza">Mendoza</option>
                                        <option value="slu">San Luis</option>
                                        <option value="lar">La Rioja</option>
                                        <option value="for">Formosa</option>
                                        <option value="cat">Catamarca</option>
                                        <option value="neu">Neuquen</option>
                                        <option value="rio">Rio Negro</option>
                                    </select>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="city">Localidad <span>*</span></label>
                                    <input type="text" class="form-control" name= "localidad" id="ciudad" value="" placeholder="Localidad">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="street_address">Dirección <span>*</span></label>
                                    <input type="text" class="form-control mb-3" id="calle" name= "direccion" value="" placeholder="Dirección">
                                
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="postcode">Código Postal <span>*</span></label>
                                    <input type="text" class="form-control" name= "cp" id="cp" value="" placeholder="Código Postal">
                                </div>
                              
                
                                <div class="col-12 mb-3">
                                    <label for="phone_number">Número de teléfono <span>*</span></label>
                                    <input type="number" class="form-control" id="numero" name= "numero" min="0" value="" placeholder="Número de teléfono">
                                </div>
                                <div class="col-12 mb-4">
                                    <label for="email_address">Email <span>*</span></label>
                                    <input type="email" class="form-control" name= "email" id="email" value="" placeholder="Email">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="password">Contraseña <span>*</span></label>
                                    <input type="password" class="form-control" name= "password" id="password" min="0" value="" placeholder="Contraseña">
                                </div>
                                <div class="col-12 mb-4">
                                    <label for="file">Subí tu foto de perfil</label> <br>
                                    <input type="file" name= "avatar" id="avatar" value="avatar">
                                </div>
                                <div class="col-12">
                                    
                                    <button type = "submit" href="#" class="btn essence-btn">Registrarme</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
           
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Checkout Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <%- include("./partials/footer") %>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/essence/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/essence/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/essence/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/essence/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="/essence/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="/essence/js/active.js"></script>

</body>

</html>